<div class="post">
  <div class="post__avatar">
    <img
      src="../../assets/profile.png"
      alt=""
    />
  </div>

  <div class="post__body">
    <div class="post__header">
      <div class="post__headerText">
        <h3>
          Somanath Goudar
          <span class="post__headerSpecial"
            ><span class="material-icons post__badge"> verified </span>{{ tweet.userId }}</span
          >
          <span style="position: relative; float: right;">{{ tweet.dateAndTimeOfTweet }}</span>
        </h3>
        
      </div>
      <div class="post__headerDescription">
        <p>{{ tweet.tweetText }}</p>
      </div>
    </div>

    <div class="post__footer">
      <span class="material-icons footer-icons" [routerLink]="['reply', tweet.tweetId]"> question_answer </span>
      <div>
        <span class="material-icons footer-icons"> favorite_border</span>
        <span class="tweet-like">{{ tweet.likes }}</span>
      </div>
      <div class="dropdown">
       <span class="material-icons footer-icons"> expand_more </span>
        <div class="dropdown-content">
        <a [routerLink]="['edit', tweet.tweetId]">Edit</a>
        <a>Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>